#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

li {
}

.user-avatar {
  max-width: 64px;
}

.user-avatar img {
  width: 100%;
}
